/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap'); */

/* Fonts */
@font-face {
    font-family: font1;
    src: url(../fonts/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: font2;
    src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

/* Style général */
:root {
    --yellow-color: #FFFF00;
    --yellow-light: #F8F184;
    --blue-color: #19587D;
    --black1: #000000;
    --grey-border: rgba(188, 187, 189, 0.2);
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #home a{
    overflow-x: hidden;
    background-color: var(--black1);
    color: white;
}

p{
    font-family: font2;
    font-size: 20px;
    font-weight: 400;
}

h1 {
    font-family: font1;
    font-size: 36px;
    /* font-weight: 400; */
}

h2 {
    font-family: font2;
    font-size: 22px;
    font-weight: 400;
}

figcaption {
    font-family: font1;
    font-size: 20px;
    font-weight: 400;
}

button {
    font-family: font1;
    font-size: 20px;
    font-weight: 500;
}

.container{
    border: 3px solid var(--grey-border);
    border-top: 0;
    border-bottom: 0;
    margin-left: 7%;
    margin-right: 7%;
}

/* Header (première section) */
header{
    background-image: url('../Assets/Illustrations/Bathome1.png');
    background-position: top center;
    color: white;
}

/* Nav */
nav{
    padding: 4% 0% 5% 4%;
    margin-left: 7%;
    margin-right: 7%;
    border: 3px solid var(--grey-border);
    border-bottom: 4px solid var(--grey-border);
    border-top: 0px;
}

nav li{
   list-style: none;
   display: inline-block;
}

/* nav*/
#home{
    float: right;
    padding-right: 6%;
    color: white;
    font-family: font1;
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: middle;
}

/******************************** première section avec les CTA *********************/
.part1{ 
    font-family: font2;
    text-align: center;
    padding-top: 18%;
}

.part1 h2 {
    font-family: font2;
    font-size: 28px;
    font-weight: 500;
}

.part1 p, .part1 h2{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.part1 h2{
    margin-top: 2%;
    margin-bottom: 3%;
}

.part1 button{
    color: white;
    font-family: font1;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 0, 0, 0.4));
    padding: 20px 40px;
    margin: 0 20px 100px;
    border: 0;
    width: 20%;
}

.part1 button:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 0, 0, 1));
}

/* flèche vers la deuxième section */
.part1 .fleche{
    display: block;
    margin-top: 13%;
}

/********************************** Fin première section *****************/

/* Scroll Icônes du côté droit */
.scrollIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 30%;
    right: 0%;
    transform: translate(-40%);
    gap: 20px;
    z-index: 10;
}

.scrollIcons img:hover, #home:hover{
    -webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
    filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
}

/***************************Deuxième section **************************/
.part2{
    padding-top: 5%;
}

.part2 h1, .part2 p{
    padding: 1% 18% 1% 6%;
    text-align: justify;
}

.part2 h1{
    font-weight: bold;
}

/* Les trois images */
.lesTrois{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-left: 60px;
    padding-right: 60px;
    flex-wrap: wrap;
    gap: 30px;
}

.lesTrois img{
    width: 90%;
}

.les3:hover {
    transform: scale(1.1);
}

.les3 figcaption{
    text-align: center;
    padding: 6%;
}

/* petits ailes à côté de némésis*/

.part2 .ailes {
    width: 140px;
    margin-left: 13%;
    margin-bottom: -5.5%;
}

/* image de batman à gauche */
.imgDroit{
    width: auto;
    transform: translate(0%, -40%);
    z-index: 0;
    position: absolute;
    right: 0;
}

.part2 #allies{
    padding-top: 6%;
}

/* Justice league */
.part2jl{
    padding: 10% 12% 6% 12%;
    text-align: justify;
}

.part2jl h1{
    padding-bottom: 2%;
    padding: 15px;
}

/* les super-héros */
.heros img{
    width: 100%;
}

/* sous-partie5 (multimédia) */
.multimedia{
    display: flex;
    flex-direction: row;
    margin: 4% auto 8% auto;
    width: auto;
}

.multimedia .begin{
    display: flex;
    margin: auto;
    margin-right: 0%;
    height: 210px;
}

.multimedia .action{
    background-color: grey;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 30%;
    height: auto;
    padding: 1%;
    margin: 0 auto;
    margin-left: 0%;
}

.multimedia p{
   font-size: 12px;
}

.multimedia h6{
    font-family: font2;
    font-size: 12px;
}

.multimedia h5{
    font-family: font2;
    font-weight: 400;
}

.multimedia h4{
    font-family: font1;
    font-size: 20px;
    font-weight: 400;
}

.multimedia .direction{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}

/* bande annonce */
.bande img{
    display: flex;
    width: 85%;
    margin: 0 auto;
}
